{% extends "__layout.twig" %}
{% block content %}
{% from "__btn.twig" import btn %}

<ul class="list-group">
    <li class="list-group-item">
        {{ btn("Рикролл", "/rickroll", true) }}
        {{ btn("Картинка", "/rickroll/image", false) }}
        {{ btn("Описание", "/rickroll/info", false) }}
    </li>
    <li class="list-group-item">
        {{ btn("СтикБаг", "/stickbug", true) }}
        {{ btn("Картинка", "/stickbug/image", false) }}
        {{ btn("Картинка", "/stickbug/info", false) }}
    </li>
    <li class="list-group-item">
        {{ btn("СтикРолл", "/stickroll", true) }}
        {{ btn("Картинка", "/stickroll/image", false) }}
        {{ btn("Картинка", "/stickroll/info", false) }}
    </li>
</ul>
<img src="../images/sit.png" alt="sit.png" style="display: block; margin-left: auto; margin-right: auto">

{% endblock %}
