{% extends "__layout.twig" %}
{% block content %}
	{% from "__btn.twig" import btn %}
		<ul class="meme-cards"> 
		{% for meme in rickrolls %}
			<li class="card">
				<img src="{{meme.image}}" alt="{{meme.image}}" class="img-fluid border rounded">
				<div class="buttons">
					<div class="top-btn">
						{{btn(meme.title, "rickrolls/" ~ meme.id, true)}}
					</div>
					<div class="spec-btns">
						{{btn("Картинка", "/rickrolls/" ~ meme.id ~ "/image", false)}}
						{{btn("Описание", "rickrolls/" ~ meme.id ~ "/info", false)}}
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	<img src="../images/sit.png" alt="sit.png" style="display: block; margin-left: auto; margin-right: auto">

	<style>
		.meme-cards {
			display: flex;
			padding: 0;
			justify-content: space-around;
			width: 100%;
			gap: 20px
		}

		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			border: solid-black;
			flex: 1;
			padding: 0.5rem
		}

		.buttons {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			padding-top: 0.3rem;
		}

        .top-btn .btn {
            width: 100%;
        }

		.spec-btns {
			display: flex;
			/* justify-content: space-around; */
		}
	</style>

{% endblock %}
