{% extends "__layout.twig" %}

{% block content %}
    <form class="row"> 
        <label for="inputState" class="form-label">Вид рикролла</label>
        <div class="col">
			<select name="type" id="inputState" class="form-select">
				<option {{type == 'все' ? 'selected'}} value="все">Все</option>
				{% for t in types %}
					<option {{t.id == type ? 'selected'}} value="{{t.id}}">{{t.title|title}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col">
			<input type="text" name="title" class="form-control" placeholder="Название" aria-label="First name" value="{{title}}">
		</div>
		<div class="col">
			<input type="text" name="description" class="form-control" placeholder="Описание" aria-label="Last name" value="{{description}}">
		</div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
	</form>

	{% for meme in memes %}
		<ul>
			<li>
				<a href="/rickrolls{{meme.id}}">{{meme.title}}</a>
				<ol>
					<li>
						{{meme.description}}
					</li>
				</ol>
			</li>
		</ul>
	{% endfor %}

{% endblock %}
